@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    margin: 0;
    height: 100%;
}

.slide-in-bottom-enter-active,
.slide-in-bottom-leave-active {
    transition: all 0.2s ease;
}

.slide-in-bottom-enter-from,
.slide-in-bottom-leave-to {
    opacity: 0;
    transform: translateY(-.5rem);
}

/* SLIDE-IN-FROM-RIGHT */
.slide-in-right-enter-active,
.slide-in-right-leave-active {
    transition: all 0.2s ease;
    transform: translateX(0);
}

.slide-in-right-enter-from,
.slide-in-right-leave-to {
    transform: translateX(100%);
}
